@import "mixins";
@import "fonts";
@import "null";
@import "header";
@import "classes";
@import "footer";
@import "progress";
@import "burger";

html {
	overflow-x: hidden;
}
body.lock {
	overflow-y: hidden;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 140px;
	@include tablet {
		padding: 20px 90px;
	}
	@include big_phone {
		padding: 20px 20px;
	}
	// border: 1px solid #000;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// border: 1px solid #000;
}
.container__title {
	font-size: calc(20px + 30 * (100vw / 1600));
	font-family: Roboto;
	font-weight: 700;
	text-align: center;
}
// picture {
// 	width: 400px;
// 	height: 500px;
// }
// img {
// 	width: 100%;
// 	height: 100%;
// }

// ================ MAIN SCREEN ===========================
html {
	overflow-x: hidden;
}
main {
	// margin-top: 120px;
	// border: 1px solid #000;
}

.section__hello {
	.container__hello {
		.container__header {
			.container__title {
			}
		}

		.swiper-container {
			margin-top: 50px;
			min-height: 400px;
			width: 100%;
			.swiper-wrapper {
				width: 100%;
				.swiper-slide {
					max-height: 500px;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
						position: absolute;
						top: 0;
						left: 0;
					}
					p {
						position: absolute;
						bottom: 5%;
						left: 50%;
						transform: translate(-50%, 0%);
						font-size: 30px;
						font-weight: 500;
						font-family: Roboto;
						text-transform: uppercase;
						color: wheat;
						text-shadow: 1px 1px 2px #000;
						text-align: center;
					}
				}
			}
			.swiper-pagination {
			}
			.swiper-button-prev {
			}
			.swiper-button-next {
			}
			.swiper-scrollbar {
			}
		}
	}
}
.section__first-task {
	.container__first-task {
		.container__header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.container__title {
			}
			p {
				margin-top: 20px;
				font-size: 20px;
				font-weight: 500;
				text-align: center;
			}
			small {
				margin-top: 20px;
				font-size: 15px;
				text-align: center;
			}
		}
		.container__body {
			margin-top: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// border: 1px solid #000;
			form {
				width: 600px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				@include tablet {
					width: 500px;
				}
				@include big_phone {
					width: 400px;
				}
				@include phone {
					width: 300px;
				}
				// border: 1px solid #000;
				.input__data {
					// border: 1px solid #000;
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					.container__input {
						width: 100%;
						// background: red;
						display: flex;
						align-items: center;
						justify-content: space-between;
						p {
							flex-basis: 20%;
							@include big_phone {
								flex-basis: 30%;
							}
						}
						.rating {
							flex-basis: 60%;
							height: 30px;
							border-bottom: 1px solid #000;
							@include big_phone {
								flex-basis: 40%;
							}
						}
						.time {
							flex-basis: 20%;
						}
					}
					.message {
						display: none;
						width: 100%;
						height: 50px;
						// border: 1px solid #000;
						background: rgb(238, 238, 238);

						padding: 10px 10px;
						margin-top: 10px;
						.numbers {
						}
						p.error {
							color: red;
						}
						.numbers.error::before {
							content: "✖ удалите";
							margin-right: 5px;
							display: inline-block;
						}

						p.valid {
							color: green;
						}
						.numbers.valid::before {
							content: "✔";
							margin-right: 5px;
							display: inline-block;
						}
						.numbers.valid::after {
							content: "отсутствуют";
							margin-left: 5px;
							display: inline-block;
						}
						.string.error::before {
							content: "✖";
							margin-right: 5px;
							display: inline-block;
						}
						.string.valid::before {
							content: "✔";
							margin-right: 5px;
							display: inline-block;
						}

						.string.error::after {
							content: "неправельно";
							margin-left: 5px;
							display: inline-block;
						}
						.string.valid::after {
							content: "правельно";
							margin-left: 5px;
							display: inline-block;
						}
					}
				}
				.input__data + .input__data {
					margin-top: 20px;
				}
				// border: 1px solid #000;
				.full__message {
					width: 100%;
					// border: 1px solid #000;
					background: rgb(238, 238, 238);

					padding: 10px 10px;
					margin-top: 10px;
					display: none;
				}
				button {
					margin-top: 20px;
					padding: 10px 20px;
					font-size: 20px;
					font-weight: 600;
					font-family: Roboto;
					background: rgb(134, 134, 134);
				}
			}
			.result {
				width: 100%;
				// border: 1px solid #000;
				background: rgb(238, 238, 238);

				height: 40px;
				padding: 10px;
				margin-top: 10px;
				font-size: 20px;
				font-family: Roboto;
				color: black;
			}
		}
	}
}
