@import "mixins";
@import "fonts";
@import "null";
@import "header";
@import "classes";
@import "footer";
@import "progress";
@import "burger";

body.lock {
	overflow-y: hidden;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 140px;
	@include tablet {
		padding: 20px 90px;
	}
	// border: 1px solid #000;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// border: 1px solid #000;
}
.container__title {
	font-size: calc(20px + 30 * (100vw / 1600));
	font-family: Roboto;
	font-weight: 700;
	text-align: center;
}
// picture {
// 	width: 400px;
// 	height: 500px;
// }
// img {
// 	width: 100%;
// 	height: 100%;
// }

// ================ MAIN SCREEN ===========================
html {
	overflow-x: hidden;
}
main {
	// margin-top: 120px;
	// border: 1px solid #000;
}

.section__hello {
	.container__hello {
		.container__header {
			.container__title {
			}
		}

		.swiper-container {
			margin-top: 50px;
			min-height: 400px;
			width: 100%;
			.swiper-wrapper {
				width: 100%;
				.swiper-slide {
					max-height: 500px;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
						position: absolute;
						top: 0;
						left: 0;
					}
					p {
						position: absolute;
						bottom: 5%;
						left: 50%;
						transform: translate(-50%, 0%);
						font-size: 30px;
						font-weight: 500;
						font-family: Roboto;
						text-transform: uppercase;
						color: wheat;
						text-shadow: 1px 1px 2px #000;
						text-align: center;
					}
				}
			}
			.swiper-pagination {
			}
			.swiper-button-prev {
			}
			.swiper-button-next {
			}
			.swiper-scrollbar {
			}
		}
	}
}
